.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{clear:both;float:left;width:100%;}
.flag a{border:none;}.flag a:hover{border:none;}
.product--rendered-attribute .form-item{display:inline-block;vertical-align:middle;margin:2px;}.product--rendered-attribute label.option{display:inline-block;}.product--rendered-attribute .form-radio{display:none;}.product--rendered-attribute__selected ~ label.option{border:1px solid;}
